body{
  font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(173, 75, 53);   
} 

.adjust-invis{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-decoration: none;
  padding: 3%;
  background-color: transparent;
  transition: box-shadow .15s;
}

.colorChanger{
  color: gold;
}

.image{
  max-width: 100%;
  height: fit-content;
  display: flex;
  align-content: center;
  justify-content: flex-end;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.everythingElse{
  text-decoration: none;
  color: gold;
}

.sideBySide{
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.hrPretty{
  border-color: 	#C1E1C1;
  margin: 2%;
}

.notTitle{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  text-decoration: none;
  color: rgb(148, 121, 84);
  padding: 3%;
  background-color: white;
  border-radius: 25px;
  border-color: rgb(148, 121, 84);
  border: solid;
  box-shadow: 12px 12px 2px 1px rgb(137, 60, 42);
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(148, 121, 84);
    padding: 3%;
    background-color: white;
    border-radius: 25px;
    border-color: rgb(148, 121, 84);
    border: solid;
    transition: box-shadow .15s;
}
.title:hover{
  box-shadow: 12px 12px 2px 1px rgb(137, 60, 42);
}

.sumsum{
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  text-decoration: none;
  color: gold;
  padding: 3%;
  background-color: #3E6E8F;
  border-radius: 25px;
  border-color: black;
  border: solid;
  box-shadow: 12px 12px 2px 1px rgb(137, 60, 42);
}

.sumsum2{
  width: 26.5%;
  display: flex;
  flex-direction: column;
  display: flex;
  text-decoration: none;
  color: gold;
  padding: 3%;
  background-color: #3E6E8F;
  border-radius: 25px;
  border-color: black;
  border: solid;
  box-shadow: 12px 12px 2px 1px rgb(137, 60, 42);
}

