{% extends 'base.html' %}#this will be the template page


{% block content %}
<div class='sumsum'>
    <h2 class='notTitle'>{{team.name}} Team</h2>
    <p>{{team.description}}</p>
</div>
<br>
<div class='sumsum'>
    <h3 class='notTitle'>Meet the team</h3>
    <ol>
        {% for i in team.people %}
                    <li>{{i}}</a></li>
        {% endfor %}
    </ol>
</div>
<br>
<div class='sumsum'>
    <h3 class='notTitle'>Dutys</h3>
    <p>{{team.duty}}</p>
</div>



{% endblock content %}



{% comment %} to see data being passed enter...
<p>{{team}}</p> {% endcomment %}

